header {
    /*border: 1px solid violet;*/
    width: 100%;
	background-color:#000;
}
body {
	background-image:url(../images/bg_pi.png);
}

div[role="top"] {
    border: 1px solid brown;
    height: 100px;
}

div[role="procura"] {
    border: 1px solid blue;
    height: 50px;
}

nav[role="menu-top"] {
    /*border: 1px solid gold;*/
    height: 50px;
}

div[role="promocao"] {
    /*border: 1px solid darkgreen;*/
    height: 200px;
    margin: 0px 0px 10px 0px;
}

section[role="container"] {
   /* border: 1px solid red;*/
    height: 2150px;
	
}

div[role="destaquep1"] {
    /*border: 1px solid green;*/
    height: 470px;
    width: 100%;
    float: right;
}
div[role="destaquep2"] {
    /*border: 1px solid green;*/
    height: 980px;
    width: 100%;
    float: right;
}
div[role="destaquep3"] {
   /* border: 1px solid green;*/
    height: 670px;
    width: 100%;
    float: right;
}


div[role="ofertap1"] {
   /* border: 1px solid black;*/
    height: 415px;
    width: 674px;
    float: left;
    margin: 5px 10px;
	box-shadow: black 0.5em 0.5em 0.3em;
}
div[role="relacionadop1"]{
	/*border: 1px solid black;*/
	height:130px;
	width:242px;
	margin:5px 5px;
	float:right;
	box-shadow: black 0.5em 0.5em 0.3em;
}

div[role="ofertap2"] {
    /*border: 1px solid black;*/
    height: 280px;
    width: 445px;
    float: left;
    margin: 20px 10px 10px;
	box-shadow: black 0.5em 0.5em 0.3em;
}

div[role="ofertap3"] {
    /*border: 1px solid black;*/
    height: 200px;
    width: 295px;
    float: left;
    margin: 10px 10px;
	box-shadow: black 0.5em 0.5em 0.3em;
}

footer {
    /*border: 1px solid #0F0;*/
    height: 200px;
	background-color:#000;
}

.container-width {
    width: 960px;
}

.centered {
    margin: auto;
    text-align: center;
}